<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073556131048-qbkvdqltan439u857cli81b1td6vdflq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073556131048-qbkvdqltan439u857cli81b1td6vdflq</string>
	<key>API_KEY</key>
	<string>AIzaSyBZBOqvBjnvpg7ZTQfxEl8GTjgjkBv5c0M</string>
	<key>GCM_SENDER_ID</key>
	<string>1073556131048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finflowIot</string>
	<key>PROJECT_ID</key>
	<string>finflow-3df94</string>
	<key>STORAGE_BUCKET</key>
	<string>finflow-3df94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073556131048:ios:923e853ab61d5ebd978d5d</string>
</dict>
</plist>